<main>
  <div class="row" style="margin:10px;">
   <div class="col-sm-4">
     <div class="card">
       <div class="card-body">
         <h5 class="card-title">Category : Grocery</h5>
         <p class="card-text">Amount this month : {{grcamount}} INR</p>
         <a href="#" class="btn" style="background-color:#FB7C28;">View Month</a>
         <a href="#" class="btn" style="background-color:#FB7C28;">View Year</a>
         <a href="#" class="btn" style="background-color:#FB7C28;">View All time</a>
       </div>
     </div>
   </div>
   <div class="col-sm-4">
     <div class="card">
       <div class="card-body">
         <h5 class="card-title">Category : Marketing</h5>
         <p class="card-text">Amount this month : {{mktamount}} INR</p>
         <a href="#" class="btn" style="background-color:#FB7C28;">View Month</a>
         <a href="#" class="btn" style="background-color:#FB7C28;">View Year</a>
         <a href="#" class="btn" style="background-color:#FB7C28;">View All time</a>
       </div>
     </div>
   </div>
   <div class="col-sm-4">
     <div class="card">
       <div class="card-body">
         <h5 class="card-title">Catgory : Transport</h5>
         <p class="card-text">Amount this month : {{trpamount}} INR</p>
         <a href="#" class="btn" style="background-color:#FB7C28;">View Month</a>
         <a href="#" class="btn" style="background-color:#FB7C28;">View Year</a>
         <a href="#" class="btn" style="background-color:#FB7C28;">View All time</a>
       </div>
     </div>
   </div>
   <div class="col-sm-4">
     <div class="card">
       <div class="card-body">
         <h5 class="card-title">Catgory : Household</h5>
         <p class="card-text">Amount this month : {{trpamount}} INR</p>
         <a href="#" class="btn" style="background-color:#FB7C28;">View Month</a>
         <a href="#" class="btn" style="background-color:#FB7C28;">View Year</a>
         <a href="#" class="btn" style="background-color:#FB7C28;">View All time</a>
       </div>
     </div>
   </div>
   <div class="col-sm-4">
     <div class="card">
       <div class="card-body">
         <h5 class="card-title">Catgory : Entertainment</h5>
         <p class="card-text">Amount this month : {{trpamount}} INR</p>
         <a href="#" class="btn" style="background-color:#FB7C28;">View Month</a>
         <a href="#" class="btn" style="background-color:#FB7C28;">View Year</a>
         <a href="#" class="btn" style="background-color:#FB7C28;">View All time</a>
       </div>
     </div>
   </div>
   <div class="col-sm-4">
     <div class="card">
       <div class="card-body">
         <h5 class="card-title">Catgory : Utilities</h5>
         <p class="card-text">Amount this month : {{trpamount}} INR</p>
         <a href="#" class="btn" style="background-color:#FB7C28;">View Month</a>
         <a href="#" class="btn" style="background-color:#FB7C28;">View Year</a>
         <a href="#" class="btn" style="background-color:#FB7C28;">View All time</a>
       </div>
     </div>
   </div>
   <div class="col-sm-4">
     <div class="card">
       <div class="card-body">
         <h5 class="card-title">Catgory : Others</h5>
         <p class="card-text">Amount this month : {{trpamount}} INR</p>
         <a href="#" class="btn" style="background-color:#FB7C28;">View Month</a>
         <a href="#" class="btn" style="background-color:#FB7C28;">View Year</a>
         <a href="#" class="btn" style="background-color:#FB7C28;">View All time</a>
       </div>
     </div>
   </div>
 </div>
</main>
