<div class="header"></div>
<nav id="nav" class = "navbar navbar-dark" style="background-color:#60C394;">
        <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Expenses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/user/graph">View Graph</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/user/expvsbgt">Exp. vs Bgt.</a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-white" href="/users/logout" id="logout-but">LOGOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/users/about" id="about-but">ABOUT-US</a>
            </li>
            {{!-- <li class="nav-item">
              <a class="nav-link text-white" href="/users/profile" id="hey">..</a>
            </li> --}}
         </ul>
      </nav>
    <div id="here"></div>
<main style="padding-top:100px;">
  <div class="row" style="margin:10px;">
   <div class="col-sm-4">
     <div class="card">
       <div class="card-body">
         <h5 class="card-title">Category : Grocery</h5>
         <p class="card-text">Amount this month : {{grcamount}} INR</p>
         <a href="/user/graph/month/grocery" class="btn" style="background-color:#FB7C28;">View Month</a>
         <a href="/user/graph/year/grocery" class="btn" style="background-color:#FB7C28;">View Year</a>
         <a href="/user/alltime/grocery" class="btn" style="background-color:#FB7C28;">View All time</a>
       </div>
     </div>
   </div>
   <div class="col-sm-4">
     <div class="card">
       <div class="card-body">
         <h5 class="card-title">Category : Marketing</h5>
         <p class="card-text">Amount this month : {{mktamount}} INR</p>
         <a href="/user/graph/month/marketing" class="btn" style="background-color:#FB7C28;" id="vmm" name="marketing">View Month</a>
         <a href="/user/graph/year/marketing" class="btn" style="background-color:#FB7C28;">View Year</a>
         <a href="/user/alltime/marketing" class="btn" style="background-color:#FB7C28;">View All time</a>
       </div>
     </div>
   </div>
   <div class="col-sm-4">
     <div class="card">
       <div class="card-body">
         <h5 class="card-title">Category : Transport</h5>
         <p class="card-text">Amount this month : {{trpamount}} INR</p>
         <a href="/user/graph/month/transport" class="btn" style="background-color:#FB7C28;" name="transport">View Month</a>
         <a href="/user/graph/year/transport" class="btn" style="background-color:#FB7C28;">View Year</a>
         <a href="/user/alltime/transport" class="btn" style="background-color:#FB7C28;">View All time</a>
       </div>
     </div>
   </div>
   <div class="col-sm-4">
     <div class="card">
       <div class="card-body">
         <h5 class="card-title">Category : Household</h5>
         <p class="card-text">Amount this month : {{hslamount}} INR</p>
         <a href="/user/graph/month/household" class="btn" style="background-color:#FB7C28;">View Month</a>
         <a href="/user/graph/year/household" class="btn" style="background-color:#FB7C28;">View Year</a>
         <a href="/user/alltime/household" class="btn" style="background-color:#FB7C28;">View All time</a>
       </div>
     </div>
   </div>
   <div class="col-sm-4">
     <div class="card">
       <div class="card-body">
         <h5 class="card-title">Category : Entertainment</h5>
         <p class="card-text">Amount this month : {{entamount}} INR</p>
         <a href="/user/graph/month/entertainment" class="btn" style="background-color:#FB7C28;">View Month</a>
         <a href="/user/graph/year/entertainment" class="btn" style="background-color:#FB7C28;">View Year</a>
         <a href="/user/alltime/entertainment" class="btn" style="background-color:#FB7C28;">View All time</a>
       </div>
     </div>
   </div>
   <div class="col-sm-4">
     <div class="card">
       <div class="card-body">
         <h5 class="card-title">Category : Utilities</h5>
         <p class="card-text">Amount this month : {{utlamount}} INR</p>
         <a href="/user/graph/month/utilities" class="btn" style="background-color:#FB7C28;">View Month</a>
         <a href="/user/graph/year/utilities" class="btn" style="background-color:#FB7C28;">View Year</a>
         <a href="/user/alltime/utilities" class="btn" style="background-color:#FB7C28;">View All time</a>
       </div>
     </div>
   </div>
   <div class="col-sm-4">
     <div class="card">
       <div class="card-body">
         <h5 class="card-title">Category : Others</h5>
         <p class="card-text">Amount this month : {{othamount}} INR</p>
         <a href="/user/graph/month/others" class="btn" style="background-color:#FB7C28;">View Month</a>
         <a href="/user/graph/year/others" class="btn" style="background-color:#FB7C28;">View Year</a>
         <a href="/user/alltime/others" class="btn" style="background-color:#FB7C28;">View All time</a>
       </div>
     </div>
   </div>
 </div>
</main>
